# Dependencies
node_modules/
package-lock.json
pnpm-lock.yaml

# Environment
.env
.stencil
.DS_Store
Thumbs.db

# Build outputs
*.log
dist/
public/

# IDE
.vscode/
.idea/
*.sublime-*

# Stencil specific
*.stencil-tmp
.local
